@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'poppins', sans-serif;
  }

  body {
    @apply font-body text-[#232428];
  }
}

@layer components {
  .themeGrad {
    @apply bg-gradient-to-r from-blue-500 to-red-500
  }

  .landingSection {
    @apply sticky top-0 mx-auto flex h-screen max-w-[1350px] items-center justify-between px-8
  }

  .headerLink {
    @apply cursor-pointer opacity-75 transition hover:opacity-100;
  }

  .headerStyle {
    @apply sticky top-0 z-30 flex w-full items-center justify-between bg-[#E7ECEE];
  }

  .headerIcon {
    @apply h-6 w-6 cursor-pointer opacity-75 transition hover:opacity-100;
  }

  .link {
    @apply relative cursor-pointer text-lg font-medium before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100;
  }

  /* .easeGroup {
    @apply ease group relative z-30 box-border inline-flex
  } */

  .groupEase {
    @apply cursor-pointer items-center justify-center overflow-hidden rounded bg-indigo-600 bg-gradient-to-r from-pink-500 to-violet-500 px-8 py-3 font-bold text-white transition-all duration-300 focus:outline-none
  }

  .span3 {
    @apply relative z-20 flex items-center font-semibold
  }

  .svgIcon {
    @apply relative mr-2 h-5 w-5 flex-shrink-0 text-white
  }

  .borderGradient {
    text-align: center;
    padding-bottom: 5px;
    background-size: 100% 2px;
    background: linear-gradient(to right, #ec4899, #8b5cf6) left bottom none;
  }

  .tabStyle1 {
    @apply whitespace-nowrap py-3 px-5 text-sm font-light outline-none md:py-4 md:px-6 md:text-base
  }

  .tabStyle2 {
    @apply bg-[#35383c] text-white
  }

  .tabStyle3 {
    @apply border-b-2 border-[#35383c] text-[#747474]
  }

  .tabPanels {
    @apply mx-auto max-w-fit pt-10 pb-24 sm:px-4
  }

  .flex-shrink-0 {
    flex-shrink: 0;
  }
}